{% extends "base.html" %}

{% block content %}
    <p>
        Теперь <a href="{% url "go" short.short_urn %}">http://localhost:8000/{{ short.short_urn }}</a> ведет на <br>
        <a href="{{ short.full_uri }}">{{ short.full_uri }}</a>.

    </p>
   {% if short.conversions > 0 %}
       <p>Количество переходов по ссылке: {{ short.conversions }}</p>
   {%  else %}
       <p>Еще никто не переходил по этой ссылке! Необходимо строчно <a href="{% url "go" short.short_urn %}">исправить ситуацию</a>.</p>
   {% endif %}
{% endblock %}